<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <title><%= MERCHANTNAME %></title>
        <style type="text/css">
            @media only screen and (max-device-width: 750px) {
            body   {  -webkit-text-size-adjust: none; }
            [class="VeBody"]{ width: 320px !important;}
            [class="VeHero"]{ width: 320px !important; height: auto !important;}
            }
        </style>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    </head>
    <body marginwidth="0" marginheight="0" style="background-color: #ffffff;" leftmargin="0" topmargin="0">
        <table width="100%" border="0" align="center" cellspacing="0" cellpadding="0" style="border-collapse: collapse; font-size: 0pt; background-color: #ffffff;">
            <tbody>
                <tr>
                    <td style="border-bottom: 1px solid #dcdcdc;">
                    <table width="100%" border="0" align="center" cellspacing="0" cellpadding="0" style="border-collapse: collapse; font-size: 0pt; background-color: #ffffff;">
                        <tbody>
                            <tr>
                                <td style="font-size: 20px; line-height: 20px;">
                                &nbsp;
                                </td>
                            </tr>
                            <tr>
                                <td align="center">
                                <a href="<%= HOMEPAGELINK%>">
                                <img width="300" height="80" style="display: block; border-width: 0px; border-style: solid;" src="images/<%=ImageKey%>_03.jpg" alt="<%= MERCHANTNAME %>" /></a>
                                </td>
                            </tr>
                            <tr>
                                <td style="font-size: 20px; line-height: 20px;">
                                &nbsp;
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    </td>
                </tr>
                <tr>
                    <td style="border-bottom: 1px solid #dcdcdc;">
                    <table width="100%" border="0" align="center" cellspacing="0" cellpadding="0" style="border-collapse: collapse; font-size: 0pt; background-color: #efefef;">
                        <tbody>
                            <tr>
                                <td>
                                <table width="600" border="0" align="center" cellspacing="0" cellpadding="0" style="border-collapse: collapse; font-size: 0pt;" class="VeBody">
                                    <tbody>
                                        <tr>
                                            <td style="font-size: 50px; line-height: 50px;">
                                            &nbsp;
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="center" style="font-family: helvetica,sans-serif; font-size: 30px; color: #555555; line-height: 34px; letter-spacing: 1px; padding-left: 10px; padding-right: 10px;">
                                            Thanks For Visiting Ve Interative
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="center" style="font-family: helvetica,sans-serif; font-size: 14px; color: #555555; line-height: 15px; letter-spacing: 1px; padding-left: 10px; padding-right: 10px;">
                                            <br />
                                            Return now for 10% off your next order.
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="font-size: 20px; line-height: 20px;">
                                            &nbsp;
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="center">
                                            <a href="<%= HOMEPAGELINK%>">
                                            <img width="170" height="40" style="display: block; border-width: 0px; border-style: solid;" src="images/<%=ImageKey%>_08.jpg" alt="<%= MERCHANTNAME %>" /></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="font-size: 40px; line-height: 40px;">
                                            &nbsp;
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="center">
                                            <a href="<%= HOMEPAGELINK%>">
                                            <img width="600" height="300" style="display: block; border-width: 0px; border-style: solid;" src="images/<%=ImageKey%>_12.jpg" alt="<%= MERCHANTNAME %>" class="VeHero" /></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    </td>
                </tr>
                <tr>
                    <td style="border-bottom: 1px solid #dcdcdc;">
                    <table width="100%" border="0" align="center" cellspacing="0" cellpadding="0" style="border-collapse: collapse; font-size: 0pt; background-color: #ffffff;">
                        <tbody>
                            <tr>
                                <td>
                                <table width="600" border="0" align="center" cellspacing="0" cellpadding="0" style="border-collapse: collapse; font-size: 0pt;" class="VeBody">
                                    <tbody>
                                        <tr>
                                            <td style="font-size: 40px; line-height: 40px;">
                                            &nbsp;
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="center" style="font-family: helvetica,sans-serif; font-size: 14px; color: #555555; line-height: 22px; letter-spacing: 1px; padding-left: 10px; padding-right: 10px;">
                                            <%=TEXTCONTENT%>
                                                        
                                                        <a style="color: #1cbb9d; font-weight: bold; text-decoration: none;" title="<%= MERCHANTNAME %>" href="<%= HOMEPAGELINK%>">VeInteractive</a><br></td>
                                        </tr>
                                        <tr>
                                            <td style="font-size: 30px; line-height: 30px;">
                                            &nbsp;
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="center">
                                            <a href="<%= HOMEPAGELINK%>">
                                            <img width="170" height="40" style="display: block; border-width: 0px; border-style: solid;" src="images/<%=ImageKey%>_16.jpg" alt="<%= MERCHANTNAME %>" /></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="font-size: 60px; line-height: 60px;">
                                            &nbsp;
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    </td>
                </tr>
                <tr>
                    <td>
                    <table width="100%" border="0" align="center" cellspacing="0" cellpadding="0" style="border-collapse: collapse; font-size: 0pt; background-color: #efefef;">
                        <tbody>
                            <tr>
                                <td>
                                <table width="600" border="0" align="center" cellspacing="0" cellpadding="0" style="border-collapse: collapse; font-size: 0pt;" class="VeBody">
                                    <tbody>
                                        <tr>
                                            <td style="font-size: 60px; line-height: 60px;">
                                            &nbsp;
                                            </td>
                                        </tr>
                                        <tr>
                                            <%=DISCLAIMER%>
                                           
                                            <!--use this link for unsubscribe link--><a style="color: #868686;" href="<<BlackListRemove>>"></a>.<br>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="font-size: 60px; line-height: 60px;">
                                            &nbsp;
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
