<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <title><%= MERCHANTNAME %></title>
        <style type="text/css">
            @media only screen and (max-device-width: 750px) {
            body   {  -webkit-text-size-adjust: none; }
            [class="VeBody"]{ width: 320px !important;}
            [class="VeHero"]{ width: 320px !important; height: auto !important;}
            }
        </style>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    </head>
    <body marginwidth="0" marginheight="0" style="background-color: #ffffff;" leftmargin="0" topmargin="0">
        <table width="100%" border="0" align="center" cellspacing="0" cellpadding="0" style="border-collapse: collapse; font-size: 0pt; background-color: #ffffff;">
            <tbody>
                <tr>
                    <td style="border-bottom: 1px solid #dcdcdc;">
                    <table width="100%" border="0" align="center" cellspacing="0" cellpadding="0" style="border-collapse: collapse; font-size: 0pt; background-color: #ffffff;">
                        <tbody>
                            <tr>
                                <td style="font-size: 20px; line-height: 20px;">
                                &nbsp;
                                </td>
                            </tr>
                            <tr>
                                <td align="center">
                                <a href="<%= HOMEPAGELINK%>">
                                <img width="300" height="80" style="display: block; border-width: 0px; border-style: solid;" src="images/<%=ImageKey%>_03.jpg" alt="<%= MERCHANTNAME %>" /></a>
                                </td>
                            </tr>
                            <tr>
                                <td style="font-size: 20px; line-height: 20px;">
                                &nbsp;
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    </td>
                </tr>
                <tr>
                    <td style="border-bottom: 1px solid #dcdcdc;">
                    <table width="100%" border="0" align="center" cellspacing="0" cellpadding="0" style="border-collapse: collapse; font-size: 0pt; background-color: #efefef;">
                        <tbody>
                            <tr>
                                <td>
                                <table width="600" border="0" align="center" cellspacing="0" cellpadding="0" style="border-collapse: collapse; font-size: 0pt;" class="VeBody">
                                    <tbody>
                                        <tr>
                                            <td style="font-size: 50px; line-height: 50px;">
                                            &nbsp;
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="center" style="font-family: helvetica,sans-serif; font-size: 30px; color: #555555; line-height: 34px; letter-spacing: 1px; padding-left: 10px; padding-right: 10px;">
                                            Thanks For Visiting Ve Interative
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="center" style="font-family: helvetica,sans-serif; font-size: 14px; color: #555555; line-height: 15px; letter-spacing: 1px; padding-left: 10px; padding-right: 10px;">
                                            <br />
                                            We have saved your basket for you
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="font-size: 20px; line-height: 20px;">
                                            &nbsp;
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="center">
                                            <a href="<%= HOMEPAGELINK%>">
                                            <img width="170" height="40" style="display: block; border-width: 0px; border-style: solid;" src="images/<%=ImageKey%>_08.jpg" alt="<%= MERCHANTNAME %>" /></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="font-size: 40px; line-height: 40px;">
                                            &nbsp;
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="center">
                                            <a href="<%= HOMEPAGELINK%>">
                                            <img width="600" height="300" style="display: block; border-width: 0px; border-style: solid;" src="images/<%=ImageKey%>_12.jpg" alt="<%= MERCHANTNAME %>" class="VeHero" /></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    </td>
                </tr>
                <tr>
                    <td style="border-bottom: 1px solid #dcdcdc;">
                    <table width="100%" border="0" align="center" cellspacing="0" cellpadding="0" style="border-collapse: collapse; font-size: 0pt; background-color: #ffffff;">
                        <tbody>
                            <tr>
                                <td>
                                <table width="600" border="0" align="center" cellspacing="0" cellpadding="0" style="border-collapse: collapse; font-size: 0pt;" class="VeBody">
                                    <tbody>
                                        <tr>
                                            <td style="font-size: 40px; line-height: 40px;">
                                            &nbsp;
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="center" style="font-family: helvetica,sans-serif; font-size: 13px; color: #555555; line-height: 22px; letter-spacing: 1px; padding-left: 10px; padding-right: 10px;">
                                           <%=TEXTCONTENT%>
                                                        
                                                        <a style="color: #1cbb9d; font-weight: bold; text-decoration: none;" title="<%= MERCHANTNAME %>" href="<%= HOMEPAGELINK%>">VeInteractive</a><br>
                                                        &nbsp;
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="font-size: 30px; line-height: 30px;">
                                            &nbsp;
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="center">
                                            <a href="<%= HOMEPAGELINK%>">
                                            <img width="170" height="40" style="display: block; border-width: 0px; border-style: solid;" src="images/<%=ImageKey%>_16.jpg" alt="<%= MERCHANTNAME %>" /></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="font-size: 30px; line-height: 30px;">
                                            &nbsp;
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <table width="100%" border="0" align="center" cellspacing="0" cellpadding="0" style="border-collapse: collapse; font-size: 0pt; border: solid 1px #DCDCDC;">
                                                    <tr>
                                                        <td bgcolor="#EFEFEF">
                                                            
                                                            <table border="0" align="left" cellspacing="0" cellpadding="0" style="border-collapse: collapse; font-size: 0pt;">
                                                                <tr>
                                                                    <td style="font-size: 22px; line-height: 22px; padding-left: 20px; font-family: 'Trebuchet MS', Helvetica, sans-serif; letter-spacing: 4px;">
                                                                        YOUR BAG
                                                                    </td>
                                                                    <td style="line-height: 50px; font-size: 50px;">
                                                                        &nbsp;
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="font-size: 20px; line-height: 20px;">
                                                            &nbsp;
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <table style="border-collapse: collapse; width: 100%;" cellpadding="0" cellspacing="0" border="0">
                                                            
                                                                <tbody>
                                                                    <!--Start Repeater-->
                                                                    <tr>
                                                                    <td style="width: 5%;">
                                                                    &nbsp;
                                                                    </td>
                                                                    <td class="VePFImage" style="width: 100px;" valign="top">
                                                                    <a href="&lt;&lt;PF Link&gt;&gt;">
                                                                    <img class="VePFImage" alt="&lt;&lt;PF Name&gt;&gt;" src="&lt;&lt;PF Image&gt;&gt;" style="display: block; border-width: 0px; border-style: solid;" height="100" width="100"></a>
                                                                    </td>
                                                                    <td style="width: 5%;">
                                                                    &nbsp;
                                                                    </td>
                                                                    <td style="width: 50%;" valign="top">
                                                                    <table style="border-collapse: collapse; width: 100%;" cellpadding="0" cellspacing="0" border="0">
                                                                        
                                                                            <tbody><tr>
                                                                                <td style="font-size: 5px; line-height: 5px;">
                                                                                &nbsp;
                                                                                </td>
                                                                                <td style="font-size: 5px; line-height: 5px;">
                                                                                &nbsp;
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td style="font-family: helvetica,sans-serif; font-size: 12px; line-height: 15px; font-weight: bold;">
                                                                                <a style="text-decoration: none; color: #000001;" href="&lt;&lt;PF Link&gt;&gt;">
                                                                                &lt;&lt;PF Name&gt;&gt;</a>
                                                                                </td>
                                                                                <td style="font-size: 10px; line-height: 10px;">
                                                                                &nbsp;
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td style="font-size: 10px; line-height: 10px;">
                                                                                &nbsp;
                                                                                </td>
                                                                                <td style="font-size: 10px; line-height: 10px;">
                                                                                &nbsp;
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td style="font-family: helvetica,sans-serif; font-size: 11px; line-height: 15px;">
                                                                                <strong>STYLE#:</strong> &lt;&lt;PF Att1&gt;&gt;
                                                                                </td>
                                                                                <td style="font-size: 18px; line-height: 18px;">
                                                                                &nbsp;
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td style="font-family: helvetica,sans-serif; font-size: 11px; line-height: 15px;">
                                                                                <strong>SIZE:</strong> &lt;&lt;PF Att2&gt;&gt;
                                                                                </td>
                                                                                <td style="font-size: 18px; line-height: 18px;">
                                                                                &nbsp;
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td style="font-family: helvetica,sans-serif; font-size: 11px; line-height: 15px;">
                                                                                <strong>QTY:</strong> &lt;&lt;PF Att3&gt;&gt;
                                                                                </td>
                                                                                <td style="font-size: 18px; line-height: 18px;">
                                                                                &nbsp;
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td style="font-size: 15px; line-height: 15px;">
                                                                                &nbsp;
                                                                                </td>
                                                                                <td style="font-size: 10px; line-height: 10px;">
                                                                                &nbsp;
                                                                                </td>
                                                                            </tr>
                                                                        
                                                                    </tbody></table>
                                                                    </td>
                                                                    <td style="width: 5%;">
                                                                    &nbsp;
                                                                    </td>
                                                                    <td valign="top" style="width: 30%;">
                                                                    <table style="border-collapse: collapse; width: 100%;" cellpadding="0" cellspacing="0" border="0">
                                                                        
                                                                            <tbody><tr>
                                                                                <td style="font-size: 5px; line-height: 5px;">
                                                                                &nbsp;
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td style="font-family: helvetica,sans-serif; font-size: 12px; line-height: 15px; font-weight: bold; color: #1bbc9b;" align="right">
                                                                                &lt;&lt;PF Price&gt;&gt;
                                                                                </td>
                                                                            </tr>
                                                                        
                                                                    </tbody></table>
                                                                    </td>
                                                                    <td style="width: 5%;">
                                                                    &nbsp;
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="font-size: 20px; line-height: 20px;">
                                                                        &nbsp;
                                                                    </td>
                                                                </tr>
                                                                
                                                                <!--End Repeater-->
                                                        </tbody></table>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="font-size: 30px; line-height: 30px;">
                                                &nbsp;
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="center">
                                            <a href="<%= HOMEPAGELINK%>">
                                            <img width="170" height="40" style="display: block; border-width: 0px; border-style: solid;" src="images/<%=ImageKey%>_16.jpg" alt="<%= MERCHANTNAME %>" /></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="font-size: 30px; line-height: 30px;">
                                                &nbsp;
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="center" style="font-family: helvetica,sans-serif; font-size: 13px; color: #555555; line-height: 22px; letter-spacing: 1px; padding-left: 10px; padding-right: 10px;">
                                            If there is anything we can do to help, please email us at *<a style="color: #1cbb9d; font-weight: bold; text-decoration: none;" title="<%= MERCHANTNAME %>" href="mailto:info@veinteractive.com">CUSTOMERSERVICEEMAIL</a>*.
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="font-size: 30px; line-height: 30px;">
                                                &nbsp;
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    </td>
                </tr>
                <tr>
                    <td>
                    <table width="100%" border="0" align="center" cellspacing="0" cellpadding="0" style="border-collapse: collapse; font-size: 0pt; background-color: #efefef;">
                        <tbody>
                            <tr>
                                <td>
                                <table width="600" border="0" align="center" cellspacing="0" cellpadding="0" style="border-collapse: collapse; font-size: 0pt;" class="VeBody">
                                    <tbody>
                                        <tr>
                                            <td style="font-size: 60px; line-height: 60px;">
                                            &nbsp;
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="font-family: arial,sans-serif; font-size: 11px; color: #868686; line-height: 18px; padding-left: 10px; padding-right: 10px;">
                                            <%=DISCLAIMER%>
                                            <a style="color: #868686;" href="&lt;&lt;BlackListRemove&gt;&gt;">click&nbsp;here</a>.<br />
                                            <br />
                                           
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="font-size: 60px; line-height: 60px;">
                                            &nbsp;
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
