<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<!--STANDARD GENERIC 1-->
        <title><%= MERCHANTNAME %></title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <style type="text/css">
            @media only screen and (max-device-width: 750px) {
            body   {  -webkit-text-size-adjust: none; }
            [class="VeHide"]{ display: none !important;}
            [class="VeBody"]{ width: 320px !important;}
            [class="VeMerge"]{width: 100% !important;float: left !important;text-align: center !important;}
            [class="VeCTA"]{ margin: auto !important;}
            [class="VeImages"]{width:320px !important; height: auto !important;}
            [class="VeTop"]{font-size: 20px !important; line-height: 20px !important;}
            [class="VePreviewText"]{font-size: 9px !important; line-height: 10px !important; text-align: center !important;}
            }
        </style>
    </head>
    <body style="padding: 0px; margin: 0px;">
        <table style="background-color: #f3f3f3;" cellpadding="0" cellspacing="0" border="0" width="100%">
            
                <tbody><tr>
                    <td>
                    <table class="VeBody" style="border-collapse: collapse; background-color: #ffffff;" cellpadding="0" cellspacing="0" align="center" border="0" width="600">
                        
                            <tbody><tr>
                                <td class="VeTop" style="font-size: 44px; line-height: 44px; background-color: #f3f3f3;">
                                 
                                </td>
                            </tr>
                            <tr>
                                <td class="VePreviewText" style="background-color: #f3f3f3; font-family: helvetica,sans-serif; font-size: 12px; color: #8b8b8b; line-height: 24px; text-align: left;">
                                <%= PREVIEWTEXT %>
                                </td>
                            </tr>
                            <tr>
                                <td style="font-size: 15px; line-height: 15px; background-color: #f3f3f3;">
                                 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                <table class="VeBody" style="border-collapse: collapse; background-color: #ffffff; border: 1px solid #dcdcdc;" cellpadding="0" cellspacing="0" align="center" border="0" width="600">
                                    
                                        <tbody><tr>
                                            <td>
                                            <table style="border-collapse: collapse; width: 100%;" cellpadding="0" cellspacing="0" border="0">
                                                
                                                    <tbody><tr>
                                                        <td style="width: 327px;" align="center">
                                                        <a title="<%= MERCHANTNAME %>" href="<%= HOMEPAGELINK%>">
                                                        <img style="display: block; border-width: 0px;" alt="<%= MERCHANTNAME %>" src="<%=ImageKey%>_09.jpg" height="80" width="300">
                                                        </a>
                                                        </td>
                                                        <td>
                                                        <img style="display: block; border-width: 0px;" alt="<%= MERCHANTNAME %>" src="transp.png" height="100" width="2">
                                                        </td>
                                                        <td style="width: 230px;" class="VeHide" align="center">
                                                        <a title="<%= MERCHANTNAME %>" href="<%= HOMEPAGELINK%>">
                                                        <img style="display: block; border-width: 0px;" alt="<%= MERCHANTNAME %>" src="<%=ImageKey%>_10.jpg" height="40" width="170">
                                                        </a>
                                                        </td>
                                                    </tr>
                                                
                                            </tbody></table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                            <table style="border-collapse: collapse; width: 100%;" cellpadding="0" cellspacing="0" border="0">
                                                
                                                    <tbody><tr>
                                                        <td class="VeHide">
                                                        <a title="<%= MERCHANTNAME %>" href="<%= HOMEPAGELINK%>">
                                                        <img style="display: block; border-width: 0px;" alt="<%= MERCHANTNAME %>" src="<%=ImageKey%>_13.jpg" height="280" width="100">
                                                        </a>
                                                        </td>
                                                        <td align="center">
                                                        <a title="<%= MERCHANTNAME %>" href="<%= HOMEPAGELINK%>">
                                                        <img class="VeImages" style="display: block; border-width: 0px; width: 400px; height: 280px;" alt="<%= MERCHANTNAME %>" src="<%=ImageKey%>_14.jpg">
                                                        </a>
                                                        </td>
                                                        <td class="VeHide">
                                                        <a title="<%= MERCHANTNAME %>" href="<%= HOMEPAGELINK%>">
                                                        <img style="display: block; border-width: 0px;" alt="<%= MERCHANTNAME %>" src="<%=ImageKey%>_15.jpg" height="280" width="100">
                                                        </a>
                                                        </td>
                                                    </tr>
                                                
                                            </tbody></table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                            <table style="width: 100%; border-collapse: collapse; font-family: helvetica,sans-serif; font-size: 14px; color: #555555; line-height: 22px; text-align: left; letter-spacing: 0.7px;" cellpadding="0" cellspacing="0" align="center" border="0">
                                                
                                                    <tbody><tr>
                                                        <td style="width: 5%;">
                                                         
                                                        </td>
                                                        <td>
                                                        <br>
                                                        <%=TEXTCONTENT%>
                                                        
                                                        <a style="color: #1cbb9d; font-weight: bold; text-decoration: none;" title="<%= MERCHANTNAME %>" href="<%= HOMEPAGELINK%>"></a><br>
                                                         &nbsp;
                                                        </td>
                                                        <td style="width: 5%;">
                                                         
                                                        </td>
                                                    </tr>
                                                
                                            </tbody></table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="VeCTA">
                                            <table style="border-collapse: collapse;" cellpadding="0" cellspacing="0" align="center" border="0">
                                                
                                                    <tbody><tr>
                                                        <td class="VeHide" style="width: 400px;">
                                                         
                                                        </td>
                                                        <td style="width: 170px;">
                                                        <a title="<%= MERCHANTNAME %>" href="<%= HOMEPAGELINK%>">
                                                        <img style="display: block; border-width: 0px;" alt="<%= MERCHANTNAME %>" src="<%=ImageKey%>_18.jpg" height="40" width="170">
                                                        </a>
                                                        </td>
                                                        <td class="VeHide" style="width: 30px;">
                                                         
                                                        </td>
                                                    </tr>
                                                
                                            </tbody></table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="font-size: 30px; line-height: 30px;">
                                             
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                            <table style="border-collapse: collapse; width: 100%;" cellpadding="0" cellspacing="0" align="center" border="0">
                                                
                                                    <tbody><tr>
                                                        <td class="VeHide">
                                                        <a title="<%= MERCHANTNAME %>" href="<%= HOMEPAGELINK%>">
                                                        <img style="display: block; border-width: 0px;" alt="<%= MERCHANTNAME %>" src="<%=ImageKey%>_21.jpg" height="124" width="100">
                                                        </a>
                                                        </td>
                                                        <td align="center">
                                                        <a title="<%= MERCHANTNAME %>" href="<%= HOMEPAGELINK%>">
                                                        <img class="VeImages" style="display: block; border-width: 0px; width: 400px; height: 124px;" alt="<%= MERCHANTNAME %>" src="<%=ImageKey%>_22.jpg">
                                                        </a>
                                                        </td>
                                                        <td class="VeHide">
                                                        <a title="<%= MERCHANTNAME %>" href="<%= HOMEPAGELINK%>">
                                                        <img style="display: block; border-width: 0px;" alt="<%= MERCHANTNAME %>" src="<%=ImageKey%>_23.jpg" height="124" width="100">
                                                        </a>
                                                        </td>
                                                    </tr>
                                                
                                            </tbody></table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="font-size: 28px; line-height: 28px;">
                                             
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                            <table style="border-collapse: collapse; font-size: 0pt;" cellpadding="0" cellspacing="0" align="center" border="0">
                                                
                                                    <tbody><tr>
                                                        <td>
                                                        <a title="<%= MERCHANTNAME %>" href="<%=SOCIALLINK1%>">
                                                        <img style="display: block; border-width: 0px;" alt="<%= MERCHANTNAME %>" src="<%=ImageKey%>_31.jpg" height="41" width="40">
                                                        </a>
                                                        </td>
                                                        <td style="width: 10%;">
                                                         
                                                        </td>
                                                        <td>
                                                        <a title="<%= MERCHANTNAME %>" href="<%=SOCIALLINK2%>">
                                                        <img style="display: block; border-width: 0px;" alt="<%= MERCHANTNAME %>" src="<%=ImageKey%>_32.jpg" height="41" width="40">
                                                        </a>
                                                        </td>
                                                        <td style="width: 10%;">
                                                         
                                                        </td>
                                                        <td>
                                                        <a title="<%= MERCHANTNAME %>" href="<%=SOCIALLINK3%>">
                                                        <img style="display: block; border-width: 0px;" alt="<%= MERCHANTNAME %>" src="<%=ImageKey%>_33.jpg" height="41" width="40">
                                                        </a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="line-height: 20px;" colspan="5">
                                                         
                                                        </td>
                                                    </tr>
                                                
                                            </tbody></table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="font-size: 10px; line-height: 10px;">
                                             
                                            </td>
                                        </tr>
                                    
                                </tbody></table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                <table style="width: 100%; border-collapse: collapse; font-family: arial,sans-serif; font-size: 11px; color: #868686; line-height: 18px; text-align: left; background-color: #f3f3f3;" cellpadding="0" cellspacing="0" align="center" border="0">
                                    
                                        <tbody><tr>
                                            <td style="width: 5%;">
                                             
                                            </td>
                                            <td style="width: 90%;">
                                            <br>
                                            <br>
                                            <%=DISCLAIMER%>
                                           
                                            <!--use this link for unsubscribe link--><a style="color: #868686;" href="<<BlackListRemove>>"></a>.
                                            <br>
                                            
                                            <br>
                                            <br>
                                            </td>
                                            <td style="width: 5%;">
                                             
                                            </td>
                                        </tr>
                                    
                                </tbody></table>
                                </td>
                            </tr>
                        
                    </tbody></table>
                    </td>
                </tr>
            
        </tbody></table>
    
</body></html>
