<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <title><%= MERCHANTNAME %></title>
        <meta content="text/html; charset=iso-8859-1" http-equiv="Content-Type" />
    </head>
    <body marginwidth="0" marginheight="0" topmargin="0" leftmargin="0" style="background-color: #ffffff;">
        <table width="100%" border="0" align="center" cellspacing="0" cellpadding="0" style="border-collapse: collapse; font-size: 0pt; background-color: #ffffff;">
            <tbody>
                <tr>
                    <td>
                    <table width="100%" border="0" align="center" cellspacing="0" cellpadding="0" style="border-collapse: collapse; font-size: 0pt; background-color: #ffffff;">
                        <tbody>
                            <tr>
                                <td style="font-size: 10px; line-height: 10px;">
                                &nbsp;
                                </td>
                            </tr>
                            <tr>
                                <td>
                                <table width="600" border="0" align="center" cellspacing="0" cellpadding="0" class="VeBody" style="border-collapse: collapse; font-size: 0pt;">
                                    <tbody>
                                        <tr>
                                            <td class="VeLogoCell">
                                            <a href="<%= HOMEPAGELINK%>">
                                            <img width="300" height="100" class="VeLogoImg" alt="<%= MERCHANTNAME %>" src="images/<%=ImageKey%>_07.jpg" style="display: block; border-width: 0px; border-style: solid;" /></a>
                                            </td>
                                            <td align="right" class="VeHide">
                                            <a href="<%= HOMEPAGELINK%>">
                                            <img width="191" height="40" alt="<%= MERCHANTNAME %>" src="images/<%=ImageKey%>_08.jpg" style="display: block; border-width: 0px; border-style: solid;" /></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                </td>
                            </tr>
                            <tr>
                                <td style="font-size: 10px; line-height: 10px;">
                                &nbsp;
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    </td>
                </tr>
                <tr>
                    <td>
                    <table width="100%" border="0" align="center" cellspacing="0" cellpadding="0" style="border-collapse: collapse; font-size: 0pt; background-color: #323f48;">
                        <tbody>
                            <tr>
                                <td>
                                <table width="600" border="0" align="center" cellspacing="0" cellpadding="0" class="VeBody" style="border-collapse: collapse; font-size: 0pt;">
                                    <tbody>
                                        <tr>
                                            <td valign="top" class="VeMerge">
                                            <table border="0" align="center" cellspacing="0" cellpadding="0" style="border-collapse: collapse; font-size: 0pt;">
                                                <tbody>
                                                    <tr>
                                                        <td style="font-size: 40px; line-height: 40px;">
                                                        &nbsp;
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="font-family: arial,helvetica,sans-serif; font-size: 16px; line-height: 22px; letter-spacing: 0.5px; color: #ffffff;" class="VePad">
                                                        <span style="font-size: 21px; line-height: 28px; font-weight: bold; letter-spacing: 1px;">Thanks For Visiting Ve Interactive</span><br />
                                                        <br />
                                                        Return to Ve website now and receive our exclusive online offer: <strong>10% off</strong> your next order.
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="font-size: 60px; line-height: 60px;">
                                                        &nbsp;
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="VePad">
                                                        <a href="<%= HOMEPAGELINK%>">
                                                        <img width="190" height="40" alt="<%= MERCHANTNAME %>" src="images/<%=ImageKey%>_15.jpg" style="display: block; border-width: 0px; border-style: solid;" /></a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="font-size: 60px; line-height: 60px;" class="VeLHFix">
                                                        &nbsp;
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            </td>
                                            <td align="right" class="VeMerge">
                                            <a href="<%= HOMEPAGELINK%>">
                                            <img width="320" height="350" alt="<%= MERCHANTNAME %>" src="images/<%=ImageKey%>_13.jpg" style="display: block; border-width: 0px; border-style: solid;" /></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    </td>
                </tr>
                <tr>
                    <td style="border-bottom: solid 1px #DCDCDC;">
                    <table width="100%" border="0" align="center" cellspacing="0" cellpadding="0" style="border-collapse: collapse; font-size: 0pt; background-color: #ffffff;">
                        <tbody>
                            <tr>
                                <td>
                                <table width="600" border="0" align="center" cellspacing="0" cellpadding="0" class="VeBody" style="border-collapse: collapse; font-size: 0pt;">
                                    <tbody>
                                        <tr>
                                            <td style="font-size: 50px; line-height: 50px;">
                                            &nbsp;
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="font-family: helvetica,sans-serif; font-size: 14px; color: #555555; line-height: 22px; letter-spacing: 0.7px;" class="VePad">
                                             <%=TEXTCONTENT%>
                                                        
                                                        <a style="color: #1cbb9d; font-weight: bold; text-decoration: none;" title="<%= MERCHANTNAME %>" href="<%= HOMEPAGELINK%>">VeInteractive</a><br>
                                                        &nbsp;
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="font-size: 30px; line-height: 30px;">
                                            &nbsp;
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <table width="100%" border="0" align="center" cellspacing="0" cellpadding="0" style="border-collapse: collapse; font-size: 0pt; border: solid 1px #DCDCDC;">
                                                    <tr>
                                                        <td bgcolor="#EFEFEF">
                                                            
                                                            <table border="0" align="left" cellspacing="0" cellpadding="0" style="border-collapse: collapse; font-size: 0pt;">
                                                                <tr>
                                                                    <td style="font-size: 22px; line-height: 22px; padding-left: 20px; font-family: 'Trebuchet MS', Helvetica, sans-serif; letter-spacing: 4px;">
                                                                        YOUR BAG
                                                                    </td>
                                                                    <td style="line-height: 50px; font-size: 50px;">
                                                                        &nbsp;
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="font-size: 20px; line-height: 20px;">
                                                            &nbsp;
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <table style="border-collapse: collapse; width: 100%;" cellpadding="0" cellspacing="0" border="0">
                                                            
                                                                <tbody>
                                                                    <!--Start Repeater-->
                                                                    <tr>
                                                                    <td style="width: 5%;">
                                                                    &nbsp;
                                                                    </td>
                                                                    <td class="VePFImage" style="width: 100px;" valign="top">
                                                                    <a href="&lt;&lt;PF Link&gt;&gt;">
                                                                    <img class="VePFImage" alt="&lt;&lt;PF Name&gt;&gt;" src="&lt;&lt;PF Image&gt;&gt;" style="display: block; border-width: 0px; border-style: solid;" height="100" width="100"></a>
                                                                    </td>
                                                                    <td style="width: 5%;">
                                                                    &nbsp;
                                                                    </td>
                                                                    <td style="width: 50%;" valign="top">
                                                                    <table style="border-collapse: collapse; width: 100%;" cellpadding="0" cellspacing="0" border="0">
                                                                        
                                                                            <tbody><tr>
                                                                                <td style="font-size: 5px; line-height: 5px;">
                                                                                &nbsp;
                                                                                </td>
                                                                                <td style="font-size: 5px; line-height: 5px;">
                                                                                &nbsp;
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td style="font-family: helvetica,sans-serif; font-size: 12px; line-height: 15px; font-weight: bold;">
                                                                                <a style="text-decoration: none; color: #000001;" href="&lt;&lt;PF Link&gt;&gt;">
                                                                                &lt;&lt;PF Name&gt;&gt;</a>
                                                                                </td>
                                                                                <td style="font-size: 10px; line-height: 10px;">
                                                                                &nbsp;
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td style="font-size: 10px; line-height: 10px;">
                                                                                &nbsp;
                                                                                </td>
                                                                                <td style="font-size: 10px; line-height: 10px;">
                                                                                &nbsp;
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td style="font-family: helvetica,sans-serif; font-size: 11px; line-height: 15px;">
                                                                                <strong>STYLE#:</strong> &lt;&lt;PF Att1&gt;&gt;
                                                                                </td>
                                                                                <td style="font-size: 18px; line-height: 18px;">
                                                                                &nbsp;
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td style="font-family: helvetica,sans-serif; font-size: 11px; line-height: 15px;">
                                                                                <strong>SIZE:</strong> &lt;&lt;PF Att2&gt;&gt;
                                                                                </td>
                                                                                <td style="font-size: 18px; line-height: 18px;">
                                                                                &nbsp;
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td style="font-family: helvetica,sans-serif; font-size: 11px; line-height: 15px;">
                                                                                <strong>QTY:</strong> &lt;&lt;PF Att3&gt;&gt;
                                                                                </td>
                                                                                <td style="font-size: 18px; line-height: 18px;">
                                                                                &nbsp;
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td style="font-size: 15px; line-height: 15px;">
                                                                                &nbsp;
                                                                                </td>
                                                                                <td style="font-size: 10px; line-height: 10px;">
                                                                                &nbsp;
                                                                                </td>
                                                                            </tr>
                                                                        
                                                                    </tbody></table>
                                                                    </td>
                                                                    <td style="width: 5%;">
                                                                    &nbsp;
                                                                    </td>
                                                                    <td valign="top" style="width: 30%;">
                                                                    <table style="border-collapse: collapse; width: 100%;" cellpadding="0" cellspacing="0" border="0">
                                                                        
                                                                            <tbody><tr>
                                                                                <td style="font-size: 5px; line-height: 5px;">
                                                                                &nbsp;
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td style="font-family: helvetica,sans-serif; font-size: 12px; line-height: 15px; font-weight: bold; color: #1bbc9b;" align="right">
                                                                                &lt;&lt;PF Price&gt;&gt;
                                                                                </td>
                                                                            </tr>
                                                                        
                                                                    </tbody></table>
                                                                    </td>
                                                                    <td style="width: 5%;">
                                                                    &nbsp;
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="font-size: 20px; line-height: 20px;">
                                                                        &nbsp;
                                                                    </td>
                                                                </tr>
                                                                
                                                                <!--End Repeater-->
                                                                
                                                        </tbody></table>
                                                        </td>
                                                    </tr>
                                                    
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="font-size: 40px; line-height: 40px;">
                                            &nbsp;
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="VePad">
                                            <a href="<%= HOMEPAGELINK%>">
                                            <img width="190" height="40" alt="<%= MERCHANTNAME %>" src="images/<%=ImageKey%>_24.jpg" style="display: block; border-width: 0px; border-style: solid;" /></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="font-size: 40px; line-height: 40px;">
                                            &nbsp;
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="font-family: helvetica,sans-serif; font-size: 14px; color: #555555; line-height: 22px; letter-spacing: 0.7px;" class="VePad">
                                            If there is anything we can do to help, please email us at *<a href="info@veinteractive.com" title="<%= MERCHANTNAME %>" style="color: #1cbb9d; font-weight: bold; text-decoration: underline;">CUSTOMERSERVICEEMAIL</a>*.
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="font-size: 40px; line-height: 40px;">
                                            &nbsp;
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                </td>
                            </tr>
                            
                        </tbody>
                    </table>
                    </td>
                </tr>
                <tr>
                    <td>
                    <table width="100%" border="0" align="center" cellspacing="0" cellpadding="0" style="border-collapse: collapse; font-size: 0pt; background-color: #efefef;">
                        <tbody>
                            <tr>
                                <td>
                                <table width="600" border="0" align="center" cellspacing="0" cellpadding="0" class="VeBody" style="border-collapse: collapse; font-size: 0pt;">
                                    <tbody>
                                        <tr>
                                            <td style="font-size: 60px; line-height: 60px;">
                                            &nbsp;
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="font-family: arial,sans-serif; font-size: 11px; color: #868686; line-height: 18px;" class="VePad">
                                             <%=DISCLAIMER%>
                                            <a href="&lt;&lt;BlackListRemove&gt;&gt;" style="color: #868686;">click here</a>.<br />
                                            <br />
                                            EC | ONE | HQ, Ve Interactive Ltd, 15-19 Bakers Row, London, EC1R 3DG <br />
                                            &copy; VE INTERACTIVE LTD 2012
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="font-size: 60px; line-height: 60px;">
                                            &nbsp;
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    </td>
                </tr>
            </tbody>
        </table>
        <style type="text/css">
            @media only screen and (max-device-width: 750px) {
            body   {  -webkit-text-size-adjust: none; }
            [class="VeBody"]{ width: 320px !important;}
            [class="VeHero"]{ width: 320px !important; height: auto !important;}
            [class="VeMerge"]{width: 100% !important;float: left !important;text-align: left !important;}
            [class="VeHide"]{ display: none !important;}
            [class="VeCTA"]{ margin: auto !important;}
            [class="VePad"]{ padding-left: 10px !important; padding-right: 10px !important;}
            [class="VeLHFix"]{ font-size: 40px !important; line-height: 40px !important;}
            [class="VeLogoImg"]{ visibility: hidden !important; width: 320px !important; height: 120px !important; margin: auto !important;}
            [class="VeLogoCell"]{ width: 320px !important; height: 120px !important; background: no-repeat url(images/VeInteracive_Contact_Creative_3_Mobile_04.jpg) !important;}
            }
        </style>
    </body>
</html>
